.navbar {
  width: 100%;
  height: 64px;
  background: #FFFFFF;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;

  &-logo {
    height: 32px;
  }

  &-search {
    &-bar {
      height: 40px;
      width: 100%;
      max-width: 480px;
      background-color: #e5e5e5;
      border-radius: 5px 0 0 5px;
      border: none;
    }

    &-icon {
      height: 40px;
      width: 40px;
      background-color: #e5e5e5;
      color: #ffffff;
      border-radius: 0 5px 5px 0;
      border: none;
    }
  }
}

.btn {
  border-radius: 5px;
  height: 40px;
  background-color: #FFFFFF;
  color: #003399;
  border: 1px solid #003399;
  box-sizing: border-box;
  min-width: 80px;
  padding: 0 10px;
  font-size: 18px;

  &-primary {
    background-color: #003399;
    color: #FFFFFF;
    border: 1px solid #003399;
  }

  &.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
    width: auto;
    border-width: 2px;
  }
}

.error-page {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 128px;
    margin: 0;
  }
}



.footer {
  background-color: #2F2F2F;

  &-navigation {
    height: 256px;
    display: flex;
    justify-content: center;

    h4 {
      color: #FFFFFF;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        margin-bottom: 16px;
  
        span, a {
          font-weight: normal;
          text-decoration: none;
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

  &-copyright {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #1F1F1F;

    &-logo {
      display: flex;
      flex-direction: row-reverse;

      img {
        height: 48px;
        width: 48px;
        margin-left: 16px;
      }
    }
  }
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 540px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 1;

  h1 {
    color: #FFFFFF;
    font-size: 3rem;
    margin: 0;
  }

  h2 {
    color: #FFFFFF;
    font-weight: normal;
  }
}

.training {
  background-color: #EEEEEE;
  width: 100%;
  padding: 60px 0;
  display: flex;
  justify-content: center;

  &-about{
    height: 240px;
    padding: 15px;
    background-color: #2F2F2F;

    h2, p {
      color: #FFFFFF;
      padding: 0 10px;
    }

    p {
      text-align: justify;
      font-size: 0.875rem;
    }
  }

  &-detail {
    width: 180px;
    height: 240px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    &-image {
      border-radius: 2px 2px 0 0;
    }

    .price {
      font-size: 0.875rem;
      font-weight: bold;
    }

    .actual-price {
      font-size: 0.75rem;
      font-weight: normal;
      text-decoration: line-through;
    }

  }
}

.card {
  &-title {
    font-size: 0.875rem;
    font-weight: bold;
  }

  &-subtitle {
    font-size: 0.75rem;
    font-weight: normal;;
  }

  &-article {
    height: 108px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    h4 {
      font-weight: bold;
      padding: 0;
      margin: 0;
    }

    span {
      font-size: 0.75rem;
      line-height: 2;
    }
  }
}

.article-section {
  padding: 60px 0;
}
