h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a, button, input[type=button], .clickable {
  &:hover {
    cursor: pointer;
  }
}

.text-center {
  text-align: center;
}

.navbar {
  width: 100%;
  height: 64px;
  background: #FFFFFF;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;

  &-logo {
    height: 32px;
  }

  &-search {
    &-bar {
      height: 40px;
      width: 100%;
      max-width: 480px;
      background-color: #e5e5e5;
      border-radius: 5px 0 0 5px;
      border: none;
    }

    &-icon {
      height: 40px;
      width: 40px;
      background-color: #e5e5e5;
      color: #ffffff;
      border-radius: 0 5px 5px 0;
      border: none;
    }
  }
}

.navigation {
  padding: 10px;
  background-color: #003399;
  color: #ffffff;

  a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
  }
}

.btn {
  border-radius: 5px;
  min-height: 40px;
  background-color: #FFFFFF;
  color: #003399;
  border: 1px solid #003399;
  box-sizing: border-box;
  min-width: 80px;
  padding: 0 10px;
  font-size: 18px;

  &-primary {
    background-color: #003399;
    color: #FFFFFF;
    border: 1px solid #003399;
  }

  &.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
    width: auto;
    border-width: 2px;
  }

  &.download {
    height: 5rem !important;
    padding: 10px 20px;
  }
}

.error-page {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 128px;
    margin: 0;
  }
}



.footer {
  background-color: #2F2F2F;

  &-navigation {
    min-height: 200px;
    display: flex;
    justify-content: center;

    h4 {
      color: #FFFFFF;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        margin-bottom: 16px;
  
        span, a {
          font-weight: normal;
          text-decoration: none;
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

  &-copyright {
    min-height: 96px;
    color: #FFFFFF;
    background-color: #1F1F1F;

    &-logo {
      display: flex;
      flex-direction: row-reverse;

      img {
        height: 48px;
        width: 48px;
        margin-left: 16px;
      }
    }
  }
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 540px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 1;

  h1 {
    color: #FFFFFF;
    font-size: 3rem;
    margin: 0;
  }

  h2 {
    color: #FFFFFF;
    font-weight: normal;
  }
}

.training {
  background-color: #EEEEEE;
  width: 100%;
  padding: 60px 0;
  display: flex;
  justify-content: center;

  &-about{
    min-height: 150px;
    height: 100%;
    padding: 15px;
    background-color: #2F2F2F;

    h2, p {
      color: #FFFFFF;
      padding: 0 10px;
    }

    p {
      text-align: justify;
      font-size: 0.875rem;
    }
  }

  &-detail {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    &-image {
      border-radius: 2px 2px 0 0;
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    .price {
      font-size: 0.875rem;
      font-weight: bold;
    }

    .actual-price {
      font-size: 0.75rem;
      font-weight: normal;
      text-decoration: line-through;
    }

  }
}

.card {
  &-title {
    font-size: 0.875rem;
    font-weight: bold;
  }

  &-subtitle {
    font-size: 0.75rem;
    font-weight: normal;;
  }

  &-article {
    min-height: 108px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    h4 {
      font-weight: bold;
      padding: 0;
      margin: 0;
    }

    span {
      font-size: 0.75rem;
      line-height: 2;
    }
  }

  &-price {
    padding: 15px;
    max-width: 300px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  &-team {
    border-top: 15px solid #003399;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
}

.article-section {
  padding: 60px 0;
}

.article {
  &-paragraph {
    text-align: justify;
    line-height: 1.5;
    text-indent: 24px ;
  }
}

.training {
  &-slider {
    display: flex;
    color: #FFFFFF;

    &-content {
      height: 400px;
      background-color: #003399;
    }

    &-image {
      padding-left: 0 !important;
      padding-right: 0 !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: 50% 50%;
    }

    &-triangle {
      width: 100px !important;
      height: 0;
      border-style: solid;
      border-width: 400px 150px 0 0;
      border-color: #003399 transparent transparent transparent;
    }
  }

  &-field {
    display: flex;
    align-items: center;

    & span {
      color: #003399;
    }
  }

  &-table {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-title {
      height: 48px;
      border-top: 4px solid #003399;
      display: flex;
      align-items: center;
    }

    &-content {
      height: 48px;
      display: flex;
      border-top: 1px solid #C4C4C4;
      border-bottom: 1px solid #C4C4C4;
      align-items: center;
    }
  }
}

.breadcrumbs {
  margin-top: 30px;

  span {
    color: rgba(255, 255, 255, 0.8);
    margin: 10px;
  }

  a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;

    &.active {
      color: rgba(255, 255, 255, 1);
      font-weight: bold;
    }
  }
}

.about-us {
  &-header {
    background-color: #002277;
    color: #FFFFFF;
    text-align: center;

    h1 {
      font-size: 48px;
    }

    p {
      color: rgba(255, 255, 255, 0.7);
      font-size: 24px;
      font-weight: normal;
    }
  }

  &-value {
    background-color: #F5F5F5;

    .border-right {
      border-right: #C4C4C4 2px solid;
    }

    h2, h4 {
      text-align: center;
      margin: 0;
    }

    h2 {
      color: #003399;
    }

    p {
      color: #2f2f2f;
    }
  }

  &-team {
    h2, h4 {
      text-align: center;
      margin: 0;
    }

    h2 {
      color: #003399;
    }

    p {
      color: #2f2f2f;
      margin: 0;
    }
  }
}

.text {
  &-primary {
    color: #003399;
  }

  &-align {
    &-center {
      text-align: center;
    }
  }
}